@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --sl-color-white: #bfbfbf;
  --sl-color-gray-1: #e5e7eb;
  --sl-color-gray-2: #a1a1a1;
  --sl-color-gray-3: #808080;
  --sl-color-gray-4: #666666;
  --sl-color-gray-5: #4d4d4d;
  --sl-color-gray-6: #333333;
  --sl-color-black: rgb(24,26,27);
}



iframe{
  width: 100%;
  height: calc(500/16 * 1em) !important;
}

.sl-container{
  width: 100%;
  max-width: none;
}

.main-pane{
  flex:1 0 78%;
}

* {

  ::-webkit-scrollbar {
    max-width: auto;
    min-width: calc(5/10.6 * 1em);
  }


  ::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: calc(20/16 * 1em);
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--wml-black));
  }
}


/* .right-sidebar-container{
  width: 50px;
}
#starlight__sidebar {
  width: 50px;
}

.main-frame{
  padding-inline-start: 50px;
}

iframe{
  height: calc(950/16 * 1em) !important;
} */
